extends ./layout.pug

block content
  // Page Content
  .container
    .row
      .col-lg-12.text-center
        h1.mt-5 A Bootstrap 4 Starter Template
        h1(
          class='my-h1'
          id='h1-01'
          data-ng-model='myModel'
          )= title
        h2(
          class=classes
          ) Message: #{message}
        p.lead&attributes(atts) Complete with pre-defined file paths and responsive navigation!
        ul.list-unstyled
          li Bootstrap 4.3.1
          li jQuery 3.4.1
        ul
          each user in users
            li #{user.id}: user.name -  #{user.email}

